<header>
    <img>
    <nav>
        <ul>
            <li>
                <a>lien 1</a>
            </li>
            <li>
                <a>lien 2</a>
            </li>
        </ul>
    </nav>
</header>

<footer>
    <section>
        <h2>titre</h2>
        <ul>
            <li>
                <a>lien 1</a>
            </li>
            <li>
                <a>lien 1</a>
            </li>
            <li>
                <a>lien 1</a>
            </li>
        </ul>
    </section>
    * 3
</footer>

<i class="fa-solid fa-magnifying-glass"></i>

<input type="submit" value="Rechercher" disabled/>
                    <input type="submit" value="Rechercher"> <i class="fas fa-search"></i></>


                    centrer l'icone
                    l'icone pile au centre avec position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .card {
    display: flex;
    flex-direction: column;
    flex-basis: 190px;
    flex-grow: 1;
    background-color: white;
    border: solid 5px white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #d8d7d7;
    transition: 0.3s;
    cursor: pointer;
}





#boutonrechercher {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height : 60px;


    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .filtre .F {
    
    padding: 5px 15px 5px 5px;
    font-size: 24px;

    box-shadow: 0px 5px 15px #BDBDBD;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);