

* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
   }


/*général*/

body{
    font-family : 'Raleway', sans-serif ;
    text-align: left;
}

#blocPage {
    margin: 50px;
}


/*navigation*/
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 20px;
}

nav a {
    text-decoration: none;
    padding: 35px;
    border-top: 2px solid transparent;
    color: black;
}

nav a:hover {
    color :#0065FC;
    border-top-color: #0065FC;
}

nav img {
    height: 60px;   
}


/*titres*/
h1 {
    font-size: 20px
}

 p {
    font-size: 14px;
}

/*formulaire*/

form  {
    display: flex;
   justify-content: center;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    width: 400px;
    height:50px;
    background-color: red;
}

form label[for] {
    width: 50px;
    height:50px
}

.fa-map-marker-alt {
    width:10px;
    height: 10px;
    padding : 20px;
    background-color:  #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

form input[id] {
    width:200px;
    height: 50px;
    padding-left: 10px;
    font-weight: bold;
  border: none;
}


form input[value] {
    width: 150px;
    height : 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    cursor: pointer;
}
 


/*filtres*/
#filtres {
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

.titre {
    font-size: 70%;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
}

.filtres {
    display: flex;
    width: auto;
    height: 50px;
}

#Economique, #Familial, #Romantique, #Animaux {
    display: flex;
    align-items: center;
    margin: 5px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

.Economique, .Familial, .Romantique, .Animaux {
    margin:10px;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 25px;
}       

.Economique a, .Familial a, .Romantique a, .Animaux a {
    text-decoration: none;
    color: black;
    width: 100%;
    font-size: 14px;
    font-weight: bold;  
    display: flex;
    align-items: center;
}

.Economique :hover, .Familial :hover, .Romantique :hover, .Animaux :hover{
    background-color: #0065FC;
    color: white;
    text-decoration: none;
    height: 40px;
    border-radius: 25px;
}


/*icones*/
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    color:#0065FC;
    padding : 10px;
    height: auto;
    background-color: #deebff;
    border-radius: 999px;
    text-align: center;
}


.fa-info {
    width: 10px;
    height: auto;
    color:#0065FC;
    border-radius: 999px;
    padding: 10px;
    margin: 0 10px 0 0;
    border: 2px solid #F2F2F2;
    text-align: center;
}


/*hébergements*/
h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
    margin: 5px;
}

#Hébergements {
    height: auto;
    display: flex;
    justify-content: space-around;
}

#Hébergements p {
    font-size: 12px;
    margin: 5px;
}

#HébergementsMarseille {
    background-color: #F2F2F2;
    width: 75%;
    height: auto;
    margin-right: 10px;
    padding: 15px;
    border-radius: 15px;

}

#sectionPhotos {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-content: space-between;
    box-shadow: 8px 8px 12px #aaa;
}

.Cannebière, .port, .mouettes, .mer, .Panier, .Amina {
    width: 30%;
    height: auto;
    background-color: white;
    margin :10px;
    padding: 5px;
    border-radius: 15px;
    
    
}

.Cannebière a, .port a, .mouettes a, .mer a, .Panier a, .Amina a, .soleilMatin a, .coeur a, .bleuBlanc a {
    text-decoration: none;
    box-shadow: 8px 8px 12px #aaa;
}

.photo img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.description {
    color: black;
    font-size: 12px;
}

#Populaires {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #F2F2F2;
    height: auto;
    margin-left: 10px;
    padding: 15px;
    border-radius: 15px;
}

#sectionPhotosPopulaires {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.soleilMatin, .coeur, .bleuBlanc {
    width: 95%;
    height: auto;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.photoPopulaires a{
    color: black;
    
}

.descriptionPopulaires {
    color: black;
}

.photoPopulaires img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* Etoiles*/
.C2etoiles{
    display:inline-block;
    cursor:pointer;
    color: #deebff;
}
.C2etoiles:hover{
    color: #0065FC;
}
.C2etoiles div{
    display:inline-block;
    padding: 0;
}

.C2etoiles div::after{
    content:"\002605"; 
}


/*activités*/












/*footer*/
#footer {
    background-color: #F2F2F2;
    width:100%;
    height: 150px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

#APropos, #NosHébergements, #Assistance {
    width:50%;
    height: 50px;
}

#footer ul {
    padding: 0;
}

#footer li {
    list-style-type: none;
    padding: 0;
    font-size: 12px;
    margin-bottom: 10px;
}



/*ecrans largeur maxi 768px*/
@media screen and (max-width: 768px){   
  
    
   
}




@media screen and (min-width: 769px) and (max-width: 992px){
    
}






